body {
  background-color: #e9d6d6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 1em;
  width: 95%;
  background-color: #ca7070;
}
nav {
  margin: 2em;
  background-color: #ca7070;
  text-decoration: none;
}
nav a {
  color: brown;
  text-decoration: none;
  padding: 0.5em;
  border-radius: 15%;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1em;
}
.card {
  display: flex;
  background-color: #e9d6d6;
  flex-direction: flex;
  justify-content: center;
  border: 3px double #f75050;
  border-radius: 5%;
  padding: 1em;
  margin: 1ex;
}
h3 {
  margin: 1em;
  margin-top: 2em;
  text-align: center;
}
form {
  display: flex;
  justify-content: center;
  padding: 3em;
}
.footer {
  display: flex;
  justify-content: center;
  padding: 2em;
}
img {
  max-width: 300px;
}
@media only screen and (max-width: 1023px) {
  body header {
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 650px) {
  body header img {
    display: none;
  }
  body header .form {
    display: none;
  }
  body .main .imgBox img {
    max-width: 200px;
  }
}
